html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
#root {
  width: inherit;
  height: inherit;
}

a:any-link {
  color: var(--bs-dark);
  text-decoration: none;
}
