@import "../../styles/mixins";

.main-page {
  width: inherit;
  height: inherit;

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  &__wrapper {
    @include container;

    position: absolute;
    top: 42px;
    bottom: 0;
    width: inherit;
    padding: 10px 52px 5px 44px;
    overflow: hidden;
  }
}
