@import "../../styles/mixins";

.main-page {
  display: flex;

  &__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  &__wrapper {
    @include container;

    height: 100%;
    padding: 10px 52px 10px 44px;
  }
}
